# Bot token from BotFather (required)
BOT_TOKEN=8890058021:AAFHJh1vWvTJ43847GpP__GFn9J4wcm0EFA

# Maximum YouTube video duration in minutes (optional)
MAX_YOUTUBE_MINUTES=30

# Optional: Set log level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL=INFO
